/**/*.iml
/**/target
/*.iml
/.cache
/.cache-main
/.cache-tests
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/bin/
/project/project/target
/project/target
/target
/tags
/.env
/tmp
.tags
*.DS_Store
